<!doctype html>
<html lang="en">
    <head>
        <%- include('./head'); %>
    </head>
  <body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col">
                <%- include('./sidenav'); %>
            </nav>
            <main class="col-11"><%- body %></main>
        </div>
    </div>
    <div class="row">
        <footer class="col">
            <%- include('./footer'); %>
        </footer>
    </div>
  </body>
</html>